<template>
  <q-layout view="hHh lpR fFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title>
          growCenter
        </q-toolbar-title>

        <q-btn
          flat
          dense
          round
          icon="person_outline"
          to="/profile"
        />
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      class="column justify-between bg-grey-1"
    >
      <q-list>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
      <q-list>
        <!-- 
          TODO make this q-item a component 
          the problem is that EssentialLink only works with vue-router links because of the :to tag,
          and so static, non-router links dont't work as a prop
        -->
        <q-item
          tag="a"
          clickable
          target="_blank"
          href="http://45.76.168.167:8086/"
        >
          <q-item-section avatar>
            <q-icon name="timeline" />
          </q-item-section>

          <q-item-section>
            <q-item-label>Database</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>

    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer class="bg-grey-8 text-white">
      <div>
        <q-btn
          flat
          dense
          icon="home"
          to="/"
        />
      </div>
    </q-footer>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'

const linksList = [
  {
    title: 'Dashboard',
    icon: 'home',
    link: '/'
  },
  {
    title: 'Alerts',
    icon: 'notifications',
    link: '/alerts'
  }

];

import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'MainLayout',

  components: {
    EssentialLink
  },

  setup () {
    const leftDrawerOpen = ref(false)

    return {
      essentialLinks: linksList,
      leftDrawerOpen,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  }
})
</script>

<style scoped>
q-toolbar {
  height: 20px !important;
}
</style>