<template>
  <q-page padding>
    <h1>Alerts</h1>
    <q-card
      flat
      bordered
      class="my-card"
    >
      <q-card-section>
        <h2>Temperature range</h2>
      </q-card-section>

      <q-card-section>
        <q-range
          v-model="tempRange"
          :step="1"
          :left-label-value="tempRange.min + '&deg;F'"
          :right-label-value="tempRange.max + '&deg;F'"
          drag-range
          label-always
          markers
          snap
          color="lime"
        />
      </q-card-section>
    </q-card>

    <q-card
      flat
      bordered
      class="my-card q-my-md"
    >
      <q-card-section>
        <h2>Humidity range</h2>
      </q-card-section>
      <!--
      <div>{{ tempRange.min }}</div>
      -->
      <q-card-section>
        <q-range
          v-model="
      humidRange"
          :step="1"
          :left-label-value="humidRange.min + '%'"
          :right-label-value="humidRange.max + '%'"
          drag-range
          label-always
          markers
          snap
          color="lime"
        />
      </q-card-section>
    </q-card>
    <!--
    <q-card
      flat
      bordered
      class="my-card q-my-md"
    >

    
      <q-card-section>
        <h2>Light timings</h2>
      </q-card-section>

      <q-card-section>
        <div class="q-pa-md">
          <div class="row">
            <div class="col">
              <h2>Lights On</h2>
              <q-time v-model="lightsOn" />
            </div>
            <div class="col">
              <h2>Lights Off</h2>
              <q-time v-model="lightsOff" />
            </div>

          </div>
        </div>
      </q-card-section>

    </q-card>
          -->
    <q-btn
      @click="update"
      class="q-mt-lg"
      color="primary"
      icon="save"
      label="Save"
    />
  </q-page>

</template>

<script>
import { ref, onMounted, computed } from 'vue'
import { useQuasar } from 'quasar'


const fetchConfigs = async () => {
  const uri = `http://45.76.168.167:3000/config`
  const response = await fetch(uri, {
    headers: {
      'Content-Type': 'application/json'
    }
  })
  return await response.json()
}

const updateConfigs = async (config) => {
  console.log('updating', config)
  const uri = `http://45.76.168.167:3000/config`
  const response = await fetch(uri, {
    headers: {
      'Content-Type': 'application/json'
    },
    method: 'POST',
    body: JSON.stringify(config)
  })

  return await response.json()
}

const cToF = (celsius) => {
  return (celsius * 9 / 5) + 32
}


export default {
  setup () {
    const $q = useQuasar()
    let fetchedConfigs = ref()
    let config = ref(
      {
        tempMin: 0,
        tempMax: 100,
        humidMin: 0,
        humidMax: 100
      }
    )

    const getConfigs = async () => {
      fetchedConfigs.value = await fetchConfigs()
      let parsedConfigs = JSON.parse(JSON.stringify(fetchedConfigs.value))
      config.value.tempMin = parsedConfigs.tempMin
      config.value.tempMax = parsedConfigs.tempMax
      config.value.humidMin = parsedConfigs.humidMin
      config.value.humidMax = parsedConfigs.humidMax
      config.value.username = parsedConfigs.username
      config.value.lightsOn = parsedConfigs.lightsOn
      config.value.lightsOff = parsedConfigs.lightsOff
    }

    onMounted(getConfigs) // on `mounted` call `getUserRepositories`
    return {
      getConfigs,
      showNotification () {
        $q.notify({
          message: 'Jim pinged you.',
          color: 'purple'
        })
      },
      tempRange: ref({
        min: computed(() => config.value.tempMin),
        max: computed(() => config.value.tempMax)
      }),
      humidRange: ref({
        min: computed(() => config.value.humidMin),
        max: computed(() => config.value.humidMax)
      }),
      lightsOn: computed(() => config.value.lightsOn),
      lightsOff: computed(() => config.value.lightsOff),
    }
  },
  methods: {
    update () {
      console.log('UPDATE', this.tempRange.min)
      updateConfigs(
        {
          tempMin: this.tempRange.min,
          tempMax: this.tempRange.max,
          humidMin: this.humidRange.min,
          humidMax: this.humidRange.max,
          lightsOn: this.lightsOn,
          lightsOff: this.lightsOff
        }
      )

      //updateConfigs(config)
    }
  }
}
</script>
 