<template>
  <q-page padding>
    <h1>Dashboard</h1>
    <h2>Plant 2</h2>
    <q-banner class="bg-primary text-white q-my-md q-mx-sm">
      Unfortunately, the code hosted on this server has unresolved bugs with displaying data <i>that doesn't happen on my machine</i>
    </q-banner>
    <div class="row">
      <Badge
        v-for="badge in badges"
        :key="badge.title"
        v-bind="badge"
      ></Badge>
    </div>

    <div class="row">
      <apexchart
        width="500"
        type="line"
        :options="chartOptions"
        :series="series"
      ></apexchart>
      <apexchart
        width="500"
        type="line"
        :options="chartOptions"
        :series="humidSeries"
      ></apexchart>
    </div>
  </q-page>
</template>

<script>
import Badge from 'components/Badge.vue'
import { ref, onMounted, computed } from 'vue'
import VueApexCharts from "vue3-apexcharts";

const fetchLatestMeasurements = async () => {
  const uri = `http://45.76.168.167:3000/api/latest`
  const response = await fetch(uri, {
    headers: {
      'Content-Type': 'application/json'
    }
  })
  return response.json()
}

const fetchMeasurements = async (timerange) => {
  const uri = `http://45.76.168.167:3000/api/time/${timerange}`
  const response = await fetch(uri, {
    headers: {
      'Content-Type': 'application/json'
    }
  })
  return response.json()
}

const cToF = (celsius) => {
  return (celsius * 9 / 5) + 32
}


export default {
  name: 'Dashboard',
  components: {
    Badge,
    apexchart: VueApexCharts,
  },
  data () {
    return {

      chartOptions: {
        chart: {
          type: 'area',
          stacked: false,
          height: 350,
          zoom: {
            type: 'x',
            enabled: true,
            autoScaleYaxis: true
          },
          toolbar: {
            autoSelected: 'zoom'
          }
        },
        dataLabels: {
          enabled: false
        },
        markers: {
          size: 0,
        },
        title: {
          text: 'Last hour',
          align: 'left'
        },
        fill: {
          type: 'solid',
        },

        xaxis: {
          type: 'datetime',
        },
        tooltip: {
          shared: false,
          y: {
            formatter: function (val) {
              return (val / 1000000).toFixed(0)
            }
          }
        }
      },
      series: [{
        name: 'Temperature (F)',
        data: []
      }],
      humidSeries: [{
        name: 'Humidity (%)',
        data: []
      }],
    }
  },
  setup () {
    console.log('setup()')
    let fetchedMeasurements = ref()
    let latestMeasurements = ref({})

    const getLatestMeasurements = async () => {
      fetchedMeasurements.value = await fetchLatestMeasurements()
      const latest = JSON.parse(JSON.stringify(fetchedMeasurements.value))
      console.log('latest', latest)
      for (const sensor in latest) {
        const value = latest[sensor]._value
        const measurement = latest[sensor]._measurement
        if (measurement == 'temperature')
          latestMeasurements.value.temperature = value
        else if (measurement == 'humidity')
          latestMeasurements.value.humidity = value
        else if (measurement == 'pressure')
          latestMeasurements.value.pressure = value
      }

      console.log('temp1', latestMeasurements.value)
    }

    onMounted(getLatestMeasurements) // on `mounted` call `getUserRepositories`
    console.log('temp2', latestMeasurements.value.temperature)
    return {
      fetchedMeasurements,
      latestMeasurements,
      getLatestMeasurements,
      badges: [
        {
          title: 'Temperature',
          value: computed(() => cToF(latestMeasurements.value.temperature)),
          unit: 'F',
          icon: 'fas fa-thermometer-half',
          backgroundColor: '#b12f2f'
        },
        {
          title: 'Humidity',
          value: computed(() => latestMeasurements.value.humidity),
          unit: '%',
          icon: 'fa fa-cloud-rain',
          backgroundColor: '#385f98'
        },
        {
          title: 'Pressure',
          value: computed(() => latestMeasurements.value.pressure),
          unit: 'Pa',
          icon: 'fas fa-weight-hanging',
          backgroundColor: '#797979'
        }
      ]

    }


    /*
    this.latestTemperature = latest[0]._value
    for (const result in latest) {
      this.badges[result].value = latest[result]._value
      console.log(this.badges[result].value)
      //console.log(latest[result]._value);
  
    }
  
    //console.log('latest', latest)
    return {
  
      badges: [
        {
          title: 'Temperature',
          value: latestTemperature,
          unit: 'C',
          icon: 'fas fa-thermometer-half',
          backgroundColor: '#b12f2f'
        },
        {
          title: 'Pressure',
          value: null,
          unit: 'Pa',
          icon: 'fas fa-weight-hanging',
          backgroundColor: '#797979'
        },
        {
          title: 'Humidity',
          value: null,
          unit: '%',
          icon: 'fa fa-cloud-rain',
          backgroundColor: '#385f98'
        },
      ],
  
  
    }
    */
  },
  created () {
    console.log('created()')
  },
  mounted () {
    console.log('mounted()')
    this.getMeasurements()
  },
  methods: {
    async getMeasurements () {
      console.log('get measurements')
      let measurements = await fetchMeasurements('60m')
      let newData = []
      let humidData = []

      measurements.forEach(key => {
        if (key._measurement == 'temperature') {
          newData.push({
            x: new Date(key._time).getTime(),
            y: key._value
          })
        } else if (key._measurement == 'humidity') {
          humidData.push({
            x: new Date(key._time).getTime(),
            y: key._value
          })
        }


      })
      this.series = [{ data: newData }]
      this.humidSeries = [{ data: humidData }]
      console.log(newData)
    }

  }

}
</script>
