<template>
  <q-page padding>
    <h1>Data</h1>
    <q-table
      :rows="rows"
      :columns="columns"
      row-key="name"
      dark
      color="amber"
    />
  </q-page>
</template>

<script>
const columns = [
  {
    name: 'name',
    required: true,
    label: 'Plant',
    align: 'left',
    field: row => row.name,
    format: val => `${val}`,
    sortable: true
  },
  { name: 'temperature', align: 'center', label: 'Temperature', field: 'temperature', sortable: true },
  { name: 'humidity', label: 'Humidity', field: 'humidity', sortable: true },
  { name: 'pressure', label: 'Pressure', field: 'pressure', sortable: true },
  { name: 'light', label: 'Light', field: 'light', sortable: true }
]

const fetchMeasurements = async (timerange) => {
  const uri = `http://localhost:3000/api/time/${timerange}`
  const response = await fetch(uri, {
    headers: {
      'Content-Type': 'application/json'
    }
  })
  return response.json()
}

export default {
  name: 'Data',
  data () {
    return {
      rows: [
        {
          name: 'Plant 1',
          temperature: null,
          humidity: null,
          pressure: null,
          light: null
        },
        {
          name: 'Plant 2',
          temperature: null,
          humidity: null,
          pressure: null,
          light: null
        },
        {
          name: 'Plant 3',
          temperature: null,
          humidity: null,
          pressure: null,
          light: null
        }
      ]
    }
  },
  setup () {
    return {
      columns,
      fetchMeasurements
    }
  },
  async created () {
    const res = await fetchMeasurements('60m')
    res.forEach(key => {
      this.rows.push({
        name: `Plant ${key._plant}`,

      })

    })
    console.log(res)


  }
}
</script>
