<template>
  <div class="col q-mx-sm">
    <q-card
      dark
      bordered
      class="my-card"
      :style="style"
    >
      <q-card-section class="flex items-center">
        <q-icon :name="icon" />
        <div class="q-mx-sm text-h6">{{ title }}</div>
      </q-card-section>

      <q-card-section>
        {{ value.value }} {{ unit }}
      </q-card-section>
    </q-card>
  </div>
</template>

<script>

export default {
  name: 'Badge',
  props: {
    title: {
      type: String,
      required: true
    },
    icon: {
      type: String,
      default: ''
    },
    value: {
      type: Object,  // accessed using value.value. This is caused by using composition api
      default: null
    },
    unit: {
      type: String,
      default: ''
    },
    backgroundColor: {
      type: String,
      default: '#FFFFFF'
    },
    setup () {
      return {}
    }
  },
  computed: {
    style () {
      return 'background-color: ' + this.backgroundColor
    }
  },
}
</script>
