<template>
  <div>
    <Badge
      v-for="badge in badges"
      :key="badge.title"
      v-bind="badge"
    ></Badge>
  </div>
</template>

<script>
import Badge from 'components/Badge.vue'
import { ref, onMounted } from 'vue'

const fetchMeasurements = async () => {
  const uri = `http://localhost/api`
  const response = await fetch(uri, {
    headers: {
      'Content-Type': 'application/json'
    }
  })
  return response
}

export default {
  name: 'Dashboard',
  components: {
    Badge
  },
  data () {
    return {

    }
  },
  setup () {
    let fetchedMeasurements = ref()
    let parsedMeasurements = ref({})

    const getLatestMeasurements = async () => {
      fetchedMeasurements.value = await fetchMeasurements()
      const latest = JSON.parse(JSON.stringify(fetchedMeasurements.value))

      for (const sensor in latest) {
        const value = latest[sensor]._value
        const measurement = latest[sensor]._measurement
        if (measurement == 'temperature')
          parsedMeasurements.value.temperature = value
        else if (measurement == 'humidity')
          parsedMeasurements.value.humidity = value
        else if (measurement == 'pressure')
          parsedMeasurements.value.pressure = value
      }
    }
    onMounted(getLatestMeasurements)
    
    return {
      fetchedMeasurements,
      parsedMeasurements,
      getLatestMeasurements,
      badges: [
        {
          title: 'Temperature',
          value: computed(()=> parsedMeasurements.temperature ),
        },
        {
          title: 'Humidity',
          value: parsedMeasurements.value.humidity, /* does not work */
        },
        {
          title: 'Pressure',
          value: parsedMeasurements.value.pressure, /* does not work */
        }
      ]
    }
  }
}
</script>