// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #6895a8;
$secondary : #066873;
$accent    : #9C27B0;

$dark      : #1d1d1d;

$positive  : #54ab5f;
$negative  : #bf382c;
$info      : #d9cb9e;
$warning   : #F2C037;
